<h3 class="mb-5">Nuevo Alumno</h3>

<form [formGroup]="formulario" (ngSubmit)="agregarAlumno()">
  <div>Nombre: <input type="text" formControlName="nombre" /></div>
  <div
    class="text-danger ml-3 justify-content-end"
    *ngIf="this.formulario.get('nombre')?.errors?.['minlength']"
  >
    Minimo 4 caracteres.
  </div>
  <div
    class="text-danger ml-3 justify-content-end"
    *ngIf="this.formulario.get('nombre')?.errors?.['required']"
  >
    Campo requerido.
  </div>
  <div>Edad:<input type="number" formControlName="edad" /></div>
  <div
    class="text-danger ml-3 justify-content-end"
    *ngIf="this.formulario.get('edad')?.errors?.['required']"
  >
    Campo requerido.
  </div>
  <div
    class="text-danger ml-3 justify-content-end"
    *ngIf="this.formulario.get('edad')?.errors?.['min']"
  >
    Edad no puede ser menor a 10.
  </div>
  <button type="submit" class="btn btn-light">Crear</button>
</form>
