/* You can add global styles to this file, and also import other style files */
body,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: grey !important;
  overflow-x: hidden;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
